{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2>Admin Interface</h2>
<p class="lead">{{=T('How did you get here?')}}</p>
<ol>
  <li>{{=T('You are successfully running web2py')}}</li>
  <li>{{=XML(T('You visited the url %s', A(request.env.path_info,_href=request.env.path_info)))}}</li>
  <li>{{=XML(T('Which called the function %s located in the file %s',
    (A(request.function+'()',_href='#'),
    A('web2py/applications/%(application)s/controllers/%(controller)s.py' % request,
    _href=URL('admin','default','peek', args=(request.application,'controllers',request.controller+'.py'))))))}}</li>
  <li>{{=XML(T('The output of the file is a dictionary that was rendered by the view %s',
    A('web2py/applications/%(application)s/views/%(controller)s/index.html' % request,
    _href=URL('admin','default','peek',args=(request.application,'views',request.controller,'index.html')))))}}</li>
  <li>{{=T('You can modify this application and adapt it to your needs')}}</li>
</ol>
{{pass}}

<h2>Admin Interface</h2>
<h2></h2>
<div style="height: auto; width: 100%;">
   <div style="float: left; height: 100%; width: 50%; padding: 20px;">
      <h4>Authorized Users</h4><br>
      {{for person in userData:}}
         {{=A('Revoke Access', _class='btn btn-danger', _href=URL('default', 'delete_user', args=[person['user']]))}}
         {{=person['user']}}
         <br><br>
      {{pass}}
   </div>
   <div style="height: 100%; padding: 20px; float:right; width=50%; margin-right: 200px;">
      <h4>Authorize New User</h4><br>
      {{=addForm}}
   </div>
   <div style="clear: both; height: 1px; overflow: hidden; font-size:0pt; margin-top: -1px;"></div>
</div>

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div>
{{end}}
